body {
    opacity: 0;
}


@media only screen and (max-width: 920px) {
    body {
        opacity: 1;
        width: 96vw;
        height: max-content;
        margin: 0 auto;
        background-color: #fff;
        overflow-x: hidden;
    }
    
    a {
        text-decoration: none;
    }

    header {
        width: 100%;
        height: 48px;
        margin: 0 auto;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        background-color: #fff;
    }

    header h1 {
        margin-left: 8px;
        font-size: 12px;
        color: #000;
        font-style: italic;
        font-family:Georgia, 'Times New Roman', Times, serif ;
    }
    
    .menu {
        width: 24px;
        height: 16px;
        margin-right: 8px;
        border-radius: 2px;
        background-color: #f2f2f2;

        display: none;
    }

    #menuList {
        transition: all 0.02s;
    }
    
    nav ul {    
         width: 96%;
        height: 96vh;
        margin: 0 auto;
        flex-flow: column;
        top: 40px;
        right: 0;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        background-color: #fff;
        display: flex;
        flex-flow: column; 
        justify-content: center;
        align-items: center;
    } 

    ul li {
        margin-bottom: 28px;
        margin-left: -20px;
    }

    .menuIcon {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    ul li {
        list-style: none;
    }

    ul li a, ul li a:visited {
        color: #000;
    }

    ul li a:hover, ul li a:focus {
        text-decoration: underline;
        opacity: 70%;
    }

    button {
        width: 120px;
        height: 28px;
        margin: 0 auto;
        border: 2px solid #fff;
        border-radius: 8px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        font-family: initial;
        font-weight: bold;
        background-color: #fff;
        color: #000;
    }

    button:hover {
        background-color: #000;
        color: #fff;
    }

    nav button {
        margin-right: 24px;
    }

    main {
        width: 96%;
        height: max-content;
        margin: 0 auto;
        margin-bottom: 16px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: auto;
        scrollbar-width: none;

        background-color: #fff;
        /* animation: main 4s calc(1); */
    }
    
    @keyframes main {
        0% {
            transform: translateY(-100%); 
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .hero, .portfolio, .process, .contact, .form, .gallery {
        width: 100%;
        height: max-content;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
    }

    .hero {
        width: 100%;
        height: max-content;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .picture {
        width: 40%;
        height: 50vh;
    }

    .hero div {
        width: 56%;
    }

    .hero .italic {
        font-style: italic;
        font-weight: 600;
    }

    .hero .cta {
        width: 40%;
        margin:  20px 0;
        border: 2px solid #000;
        color: #fff;
        font-size: 12px;
        background-color: #000;
    }

    .hero .cta:hover {
        opacity: 70%;
    }

    .portfolio {
        margin-top: 40px;
        margin-bottom: 8px;
    }

    .grid {
        width: 100%;
        height: max-content;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    .grid img {
        width: 96%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 8px;
        border: 4px solid #000;
    }

    .form {
        margin-bottom: 40px;
        height: 400px;
    }

    .contact .gallery {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .contact .gallery img {
        width: 32%;
    }

    h1, h2, h3 {
      font-family: 'Montserrat', sans-serif;
    }
    body, p, a {
      font-family: 'Lora', serif;
    }

}

@media screen and (max-width: 786px) {
    .hero {
        margin-top: 20px;
        flex-flow: column;
    }

    .picture {
        width: 100%;
        height: 56vh;
        border-radius: 12%;
    }

    .hero div {
        width: 96%;
    }

    .contact {
        flex-flow: column;
    }

}

@media screen and (max-width: 600px) {
    main {
        margin-bottom: 8px;
    }
}






